extends base.pug

block scripts
    script(src="/public/script.js")

block styles
    style 
        include ../public/style.css
        include ../public/styleAbout.css

block content
    div.container
        div.about
            div.image
                img(src="../public/img/about.jpg", alt="about")
            div.text
                h2 About Us
                h5 We are the best dance academy in the world
                p We are the best dance academy in the world. We teach all types of dance forms. We have the best teachers in the world. We have the best infrastructure in the world. We have the best students in the world. We have the best dance academy in the world. We teach all types of dance forms. We have the best teachers in the world. We have the best infrastructure in the world. We have the best students in the world. We have the best dance academy in the world. We teach all types of dance forms. We have the best teachers in the world. We have the best infrastructure in the world. We have the best students in the world. We have the best dance academy in the world. We teach all types of dance forms. We have the best teachers in the world. We have the best infrastructure in the world. We have the best students in the world. We have the best dance academy in the world. We teach all types of dance forms. We have the best teachers in the world. We have the best infrastructure in the world. We have the best students in the world.
            

        