doctype html 
html
    head
        title Dance Academy
        block scripts 
        block styles
    body
        nav#navbar
            ul
                div.logo
                    a(href='/')
                        img(src='/public/img/logo.png')
                        |   DA
                li
                    a(href='/') Home
                li
                    a(href='/about') About
                li
                    a(href='/contact') Contact
                li
                    a(href='/service') Service 
                    
        block content
        footer#footer 
            |   Copyright © 2023 Puspendu Das | All Rights Reserved
        