extends base.pug

block scripts
    script(src="/public/script.js")

block styles
    style 
        include ../public/style.css

block content
    section#introSection
       div Welcome to our Dance Academy 
       div.small We are the best dance academy in the world

    section#missionSection
        h2 section for mission
        div.card
            h3 Creative Dancing
            div.card-box
                div.card-img
                    img(src="/public/img/1.png", alt="mission")
                div.card-contend
                    p This is the Best Academy Where One Can Learn Dancing
        div.card
            h3 Any Body Can Dance
            div.card-box
                div.card-img
                    img(src="/public/img/2.png", alt="mission")
                div.card-contend
                    p It is a myth that only people with dancing background can dance
        div.card
            h3 Free Style
            div.card-box
                div.card-img
                    img(src="/public/img/3.png", alt="mission")
                div.card-contend
                    p We teach free style dancing to our students

    section#sponserSection
        h2 section for sponser
        div#sponser
            img(class = "spImage", src="/public/img/logo1.png", alt="sponser")
            img(class = "spImage", src="/public/img/logo2.png", alt="sponser")
            img(class = "spImage", src="/public/img/logo3.png", alt="sponser")
            img(class = "spImage", src="/public/img/logo4.png", alt="sponser")
